 * {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: 1rem;

    
}

body {
    background-color: #212121;
    color: #ededed;
    padding: 1em;

}

.container {
    display: flex;
    flex-flow: column;
}

section {
    display: flex;
    flex-flow:column;
    text-align: center;
    gap: 1em;
    padding: 1em;

}

section h1 {
    align-self: center;
    font-size: 24pt;
    line-height: 1;
    font-weight: 700;

}

section h2 {
    align-self: center;
    font-size: 12pt;
    font-weight: 400;

}

.accordion {
    margin: 0.25em;
    color: #212121;
    background-color: #ededed;
}

.accordion-header {
    padding: 1em;
    cursor: pointer;
    transition: all 0.4s;
    font-weight: 700;
}

.accordion-header:after {
    float: right;
    content: '\2795'; /* Unicode character for "plus" sign (+) */
    
}

.active:after {
    content: "\2796";
}

.active,
.accordion-header:hover {
    background-color: #cdcdcd;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.accordion-content span {
    display: block;
    padding: 1em;
    line-height: 1.1rem;
    text-align: justify;
}


@media (min-width: 600px) {
    body {
        margin: 0 20%;
    }
}